:root {
  --bg-color: red;
}

.name {
  position: fixed;
  font-family: titillium web;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 0.03em white;
  letter-spacing: 0.75rem;
  text-align: justify;
  top: 1rem;
  left: 1rem;
  padding: 1rem;
}

.active {
  color: white;
}
body {
  background-color: var(--bg-color);
}

.container-fluid {
  min-height: 200vh;
  background-color: var(--bg-color);
}

.projs {
  height: 200vh;
  perspective: 200px;
  perspective-origin: center;
  text-align: center;
  /* background: chartreuse; */
  width: 50%;
  margin: 3rem;
  float: right;
}

.nav-link {
  font-size: 8rem;
  font-weight: 300;
  /* font-family: "Titillium Web", sans-serif; */
  font-family: "Anton", sans-serif;
  text-align: right;
  letter-spacing: 0.3vw;
  color: black;
  transform: rotateY(-10deg) skewY(0deg);
  transform-origin: right;
  -webkit-text-stroke: 0.01em black;
}

.nav-link:hover {
  color: transparent;
  transform: rotateY(-5deg) skewY(0deg);
  transition: 0.5s ease;
  -webkit-text-fill-color: transparent;
}
/* 
.nav-link:hover {
  transform: skew(-10deg, -9deg);
  transition: 1s;
  transform: skew(-10deg, -10deg);
  color: black;
} */
